@model His.Models.D00_TBGENERAL

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>D00_TBGENERAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codTab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codTab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
